/* Importing Fonts */
@font-face {
  font-family: irishGrover;
  src: url("./public/fonts/IrishGrover.ttf");
}

@font-face {
  font-family: inconsolata;
  src: url("./public/fonts/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: inriaSans;
  src: url("./public/fonts/InriaSans-Italic.ttf");
}

/* Styling */

/* Resets */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body Styling */

body,
html
 {
  background: #FFECDA;
  overflow-x: hidden;
  height: 100vh;
  font-family: inconsolata, 'serif';
  font-size: 16px;
  line-height: 1.3em;
  color: #000000b3;
}

/* Main container */
#main {
  width: 100vw;
  height: 100vh;
}

#content {
  width: 90%; 
  margin: 0 auto;
}

#content .container {
  width: 100%;
}


/* Navbar */

nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid black;
  margin-bottom: 2rem;
}

nav .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content */

.bold {
  font-weight: bold;
  color: black;
}

.first_paragraph {
  font-size: 1.8rem;
  line-height: 1.2em;
  width: 100%;
}

.first__and__second {
  width: 100%;
}

.first {
  font-size: 9rem;
  text-transform: uppercase;
  font-family: irishGrover, 'serif';
  color: #460000;
  display: flex;
  align-items: center;
  height: 6rem;
  float: left;
}

.second {
  max-width: 100%;
  overflow: hidden;
  text-align: justify;
  line-height: 1.4em;
}

.second__paragraph {
  font-size: 1.8rem;
  line-height: 1.4em;
  width: 100%;
}

.second__paragraph .container {
  width: 100%;
}

.about__contd {
  max-width: 100%;
  text-align: justify;
}

.images__container {
  display: flex;
  width: 100%;
  margin-bottom: .5rem;
  flex-wrap: wrap;
}

.image1,
.image2,
.image3 {
  width: 33.3%;
  height: 16rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.source {
  color: black;
  font-family: inriaSans;
}

.source span {
  font-weight: bold;
}

.checks__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.related__checks {
  flex: 1;
}

.first__check span {
  border-bottom: 1px solid #000000b3;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-right: 1rem;
  line-height: 1.7em;
}

.first__check span:nth-child(1) {
  font-weight: bold;
  border: none;
  color: black;
  margin-right: 2rem;
} 

.archive__and__resume__container {
  display: flex;
  gap: 3.5rem;
  flex: 1;
}

.archive__and__resume__container a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
}

.archive,
.resume {
  border: 2px solid black;
  padding: 1.5rem 3.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.archive::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #460000;
  display: block;
  position: absolute;
  right: -65%;
  top: -30%;
  transform: rotate(45deg);
}

.resume::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #460000;
  display: block;
  position: absolute;
  right: -65%;
  top: -30%;
  transform: rotate(45deg);
}
  
  /* Footer */

  footer {
    width: 90%;
    border-top: 1px solid black;
    margin: 0 auto;
    padding: 1rem 0;
  }

  footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .social {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000b3;
    font-size: 1.5rem;
    border-bottom: 1px solid #000000b3;
  }

  .email,
  .copy {
    margin-left: 1.2rem;
  }

  .year {
    font-size: 1.5rem;
  }

  .mail {
    text-decoration: none;
    color: #000000b3;
    font-size: 1.5rem;
  }


  /* Media Queries */

  @media(max-width: 1350px) {
    

    .checks__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }

    .archive,
    .resume {
      padding: 1.5rem 5rem;
    }

    .archive__and__resume__container {
      margin-bottom: 3rem;
    }

    footer .container {
      flex-direction: column;
      align-items: center;
      height: 10rem;
      padding: 1rem 0;
    }
    
  }
  
  @media(max-width: 900px) {
    
   .images__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .image1,
    .image2,
    .image3 {
      width: 100%;
      height: 23rem;
    }

  }

  @media(max-width: 768px) {
    

    .archive__and__resume__container {
      flex-direction: column;
      gap: 20px ;
    }

    .archive,
    .resume {
      padding: 2rem 10rem;
    }

    .archive__link,
    .resume__link {
      font-size: 3.5rem;
    }

    .archive::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #460000;
      display: block;
      position: absolute;
      right: -58%;
      top: -23%;
      transform: rotate(45deg);
    }
    
    .resume::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #460000;
      display: block;
      position: absolute;
      right: -58%;
      top: -23%;
      transform: rotate(45deg);
    }

  }

  @media(max-width: 600px) {

    .checks__container {
      width: 100%;
    }

    .related__checks {
      line-height: 1.6em;
    }

    .first__check {
      width: 100%;
    }
    .first__check span {
      font-size: 1.2rem;
    }

    .forgot span {
      font-size: 1.2rem;
    }

    .archive__and__resume__container {
      width: 100%;
    }
    
    .archive,
    .resume {
      padding: 2rem 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  @media(max-width: 450px) {

    body,
    html
    {
      font-size: 12px;
    }

    nav {
      height: 7rem;
    }

    .image1,
    .image2,
    .image3 {
      height: 15rem;
    }

    .archive::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #460000;
      display: block;
      position: absolute;
      right: -62%;
      top: -27%;
      transform: rotate(45deg);
    }
    
    .resume::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #460000;
      display: block;
      position: absolute;
      right: -64%;
      top: -29%;
      transform: rotate(45deg);
    }

    .social,
    .year,
    .mail
     {
      font-size: 1.1rem;  
    }

    .email,
    .copy {
      margin-left: 2px;
    }

  }